.top-title {
  margin-top: 0;
  padding: 10px;
  font-size: 35px;
  background-color:#00ffff;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 1px 8px #777;
  text-shadow: 1px 1px 1px #777; 
}

.complete {
  color: #ff0000;
  font-weight: bold;
}

.not-complete {
  color: #0000ff;
  font-weight: bold;
}

.category {
  display: block;
}

.todo {
  padding: 10px;
}

.dead-line {
  color: #ff00a4;
}

.add-todo {
  font-style: oblique;
  color: #ff8c00;
}

.add-todo-title {
  font-style: oblique;
  color: #ff8c00;
}

.category-title {
  font-style: oblique;
  color: #ff8c00;
}

.choice {
  font-style: oblique;
  color: #ff8c00;
}

.table-original {
  margin: 50px 0 0 0;
}