<!-- 新しいtodoを作成 -->
<h1>New Todo</h1>
<table>
  <form method="post" action="">
    {% csrf_token %}
    <tbody>
      <tr>
        <th>
          タイトル
        </th>
        <td>
          {{form.title}}
        </td>
      </tr>
      <tr>
        <th>
          締め切り
        </th>
        <td>
          {{form.dead_line}}
        </td>
      </tr>
      <tr>
        <th>
          カテゴリ
        </th>
        <td>
          {{form.category}}
        </td>
      </tr>
      <tr>
        <td>
        <input type="submit" value="追加">
        <input type="reset" value="リセット">
        </td>
      </tr>
    </tbody>
  </form>
</table>