{% extends 'todo/base.html' %} 
{% block content %}
  <!-- 全todoを表示 -->
  {% if messages %}
  <ul style="list-style:none">
    {% for message in messages %}
      <li class="alert alert-warning"> {{message}} </li>
    {% endfor %}
  </ul>
  {% endif %}


  {% if todolist %}
    <table border="2" class="table table-striped table-responsive table-original">
    {% for todo in todolist %}
      <tr>
        <th class="todo">
          {{ todo }}
        </th>
        <td>
            {% for category in todo.category.all %}
            <div class="category">
              {{category}}
            {% empty %}
              カテゴリは設定されていません
            </div>
            {% endfor %}
        </td>
        <td>
          <span class="sent-a">このtodoは</span>&nbsp;<span class="dead-line">{{ todo.dead_line|date:"y/n/j H:i" }}</span>&nbsp;<span class="sent-a">までです</span>
        </td>
        <td>
        {% if todo.completed %}
        <div class="complete">
          completed!!
        </div>
        {% else %}
        <div class="not-complete">
          not completed...
        </div>
        {% endif %}
        </td>
        <td>
          <div style="display:inline-flex">
            <form method="post" action="{% url 'todo_list:delete' todo.id %}">
              {% csrf_token %}
              <input type="submit" value="削除" class="btn btn-warning btn-sm">
            </form>
            <form method="post" action="{% url 'todo_list:complete' todo.id %}">
              {% csrf_token %}
              <input type="submit" value="完了" class="btn btn-info btn-sm">
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>todoはありません</p>
  {% endif %}

  <a href="{% url 'todo_list:category' %}" class="href">カテゴリから絞り込む</a>
  <a href="{% url 'todo_list:add' %}" class="href">新規追加</a>

{% endblock %} 
